.container {
    margin-top: 3rem;
    box-shadow: 0 6px 10px rgba(0,0,0,0.05);
    // border-radius: 5px;
    border: 1px solid rgba(238, 238, 238, 0.5)
}

h1 {
    margin-top: 2rem;
    text-decoration: underline;
    text-decoration-color: #3182CE;
}

.footnote {
    margin: 3rem auto;
    width: 100%;
    text-align: left;
}

.register-link {
    color: #3182CE;
}

.register-link:hover {
    text-decoration: underline;
}

.passwd-show-btn {
    width: 4rem;
    margin-right: 0.5rem;
}